---
Checks:            '*,-clang-analyzer-*,-fuchsia-*,-google-*,-hicpp-*,-llvm-header-guard,-readability-braces-around-statements,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-avoid-magic-numbers,-misc-non-private-member-variables-in-classes,-readability-magic-numbers,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-isolate-declaration,-clang-analyzer-security.insecureAPI.rand'
