---
Checks:            '*,-fuchsia-*,-google-*,-hicpp-*,-llvm-header-guard,-readability-braces-around-statements,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-avoid-magic-numbers'
