/compile_commands.json
/warnings.log
/build
/.vscode
/Test/*.aux
/Test/*.bbl
/Test/*.blg
/Test/*.fdb_latexmk
/Test/*.fls
/Test/*.log
/Test/*.xml
/Test/*.img
/Test/Trace
/Test/fileA
/Test/fileB
/Test/tout.tex